# Base URL of your Asgardeo organization / WSO2 Identity Server instance
BASE_URL=

# Client ID of the calculator MCP client application registered in your IdP
AUDIENCE_CALCULATOR_SERVER=

NODE_TLS_REJECT_UNAUTHORIZED=0
