# Base URL of your Asgardeo organization / Wso2 Identity Server instance
BASE_URL=

# Client ID of the mcp client applications
AUDIENCE_BOOKING_MANAGER_SERVER=
AUDIENCE_AIRPORT_LOUNGE_SERVER=

NODE_TLS_REJECT_UNAUTHORIZED=0