# Asgardeo Configuration
BASE_URL=https://api.asgardeo.io/t/myagents

# WSO2 Identity Server Configuration
# BASE_URL=https://localhost:9443

# To ignore TLS certificate errors (for development purposes only)
# NODE_TLS_REJECT_UNAUTHORIZED = "0"

# Server Configuration
PORT=3000
# MCP_RESOURCE=http://localhost:3000/mcp
